{% extends 'inventorymanager/overview.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'inventorymanager/tables.css' %}">
{% block assets %}
<div class="table-container">
<div class="table-inside">
    <table>
        <thead>
            <th>Equipment ID</th>
            <th>Equipment Name</th>
            <th>Category</th>
        </thead>
        {% for asset in assets_list %}
        <tr>
            <td><a class="first-col" href="#">{{asset.equipment_id}}</a></td>
            <td>{{asset.equipment_name}}</td>
            <td>{{asset.category}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>
{% endblock assets %}