{% extends 'inventorymanager/overview.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'inventorymanager/tables.css' %}">
{% block assets %}
<div id="btn-new-field-div"><button id="btn-new-field" onclick="modelShow()">New Field +</button></div>
<div class="table-container">
<div class="table-inside">
    <table>
        <thead>
            <th>Equipment ID</th>
            <th>Equipment Name</th>
            <th>Category</th>
            <th>Assigned to</th>
            <th>Assigned on</th>
        </thead>
        {% for asset in assets_list %}
        <tr>
            <td><a class="first-col" href="#">{{asset.equipment_id}}</a></td>
            <td>{{asset.equipment_name}}</td>
            <td>{{asset.category}}</td>
            <td>{{asset.employee}}</td>
            <td>{{asset.assigned_on}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>
<div id="modal">
    Hii vinay
</div>
<script>
    function modelShow() {
        document.getElementsByClassName("table-container")[0].className = "hider";
    }
    window.onclick = function(event) {
    if (event.target == document.getElementsByClassName("table-container")) {
        document.getElementsByClassName("table-container").className = "table-container";
    }
    }
</script>
{% endblock assets %}