{% extends 'inventorymanager/overview.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'inventorymanager/tables.css' %}">

{% block assettype %}
<div class="table-container" id="assettype">
    <div class="table-inside">
        <table>
            <thead>
                <th>Name</th>
                <th>Quantity</th>
            </thead>
            {% for name , quantity in atypes_dict.items %}
            <tr>
                <td><a class="first-col" href="#">{{name}}</a></td>
                <td>{{quantity}}</td>
            </tr>
            {% endfor %}
        </table>
        </div>
</div>
{% endblock assettype %}