<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- <link rel="stylesheet" href="{% static 'inventorymanager/base.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'inventorymanager/overview.css' %}"> -->
    <link rel="stylesheet" href="{% static 'inventorymanager/tables.css' %}">
    
</head>
<body>
    <div class="d-flex justify-content-between custom-nav">
        <div class="d-flex">
        <div class="nav-item nav-element"><a class="nav-link active" href="{% url 'inventorymanager:overview' %}">Overview</a></div>
        <div class="nav-item nav-element"><a class="nav-link" href="#">Groups</a></div>
        <div class="nav-item nav-element"><a class="nav-link" href="#">Settings</a></div>
        </div>
        <div class="d-flex">
        <div class="nav-item">
        <a class="nav-link nav-element" href="#">Logout</a>
        </div>
        </div>
    </div>
    {% block content %}
    {% endblock content %}
</body>
</html>