<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
    <!-- <label for="id">Equipment ID</label>
    <input type="text" name="id"><br>
    <label for="name">Equipment Name</label>
    <input type="text" name="name"><br>
    <label for="category">Category</label>
    <input type="text" name="catgeory"><br>
    <label for="employee">Assigned to</label>
    <input type="text" name="employee"><br>
    <label for="assigned_date">Assigned on</label>
    <input type="date" name="assigned_date"><br>
    <input type="submit" value="Submit"> -->
    </form>
    {{form}}
</body>
</html>