{% extends 'inventorymanager/base.html' %}

{% load static %}

<!-- <link rel="stylesheet" href="{% static 'inventorymanger/overview.css' %}"> -->
<link rel="stylesheet" href="{% static 'inventorymanager/tables.css' %}">
{% block content %}
<div class="d-flex justify-content-around custom-card">
        <div class="card card-element" onclick="typeShow()">
            <div class="card-body">Asset Types</div>
        </div>
        <div class="card card-element" onclick="assetShow()">
            <div class="card-body">Assets</div>
        </div>
        <div class="card card-element" onclick="employeeShow()">
            <div class="card-body">Employees</div>
        </div>
</div>

{% block assettype %}
{% endblock assettype %}

{% block assets %}
{% endblock assets %}

{% block employees %}
{% endblock employees %}


<script>
    function typeShow() {
        window.location.href = "{% url 'inventorymanager:overview' %}"
    };
    function assetShow() {
        // document.getElementById("asset").className = "block";
        window.location.href = "{% url 'inventorymanager:assets' %}"
        // document.getElementById("assettype").className = "hider";
    };
    function employeeShow() {
        window.location.href = "{% url 'inventorymanager:employees' %}"
    };
    function toggle(source) {
        checkboxes = document.getElementsByName('checkbox');
        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }
    };
</script>
{% endblock content %}