{% extends 'inventorymanager/base.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'inventorymanger/overview.css' %}">
<link rel="stylesheet" href="{% static 'inventorymanager/tables.css' %}">
{% block content %}
<div class="Uppercards">
        <div class="assetType card" onclick="typeShow()">
            Asset Types
        </div>
        <div class="assets card" onclick="assetShow()">
            Assets
        </div>
        <div class="employees card" onclick="employeeShow()">
            Employees
        </div>
</div>

{% block assettype %}
{% endblock assettype %}

{% block assets %}
{% endblock assets %}

{% block employees %}
{% endblock employees %}


<script>
    function typeShow() {
        window.location.href = "{% url 'inventorymanager:overview' %}"
    }
    function assetShow() {
        // document.getElementById("asset").className = "block";
        window.location.href = "{% url 'inventorymanager:assets' %}"
        // document.getElementById("assettype").className = "hider";
    }
    function employeeShow() {
        window.location.href = "{% url 'inventorymanager:employees' %}"
    }
</script>
{% endblock content %}