{% extends 'inventorymanager/base.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'inventorymanger/overview.css' %}">
{% block content %}
<div class="Uppercards">
        <div class="assetType card" onclick="typeShow()">
            Asset Types
        </div>
        <div class="assets card" onclick="assetShow()">
            Assets
        </div>
        <div class="employees card">
            Employees
        </div>
</div>

<div class="hider" id="assettype">
{% block assettype %}
{% endblock assettype %}
</div>

<div id="asset" class="hider">Hiiiii</div>


<script>
    function typeShow() {
        document.getElementById("assettype").className = "table-container";
        document.getElementById("asset").className = "hider";
    }
    function assetShow() {
        // document.getElementById("assettype").className = "hider";
        // document.getElementById("asset").className = "block";
        window.location.href = "{% url 'inventorymanager:assettype' %}"
    }
</script>
{% endblock content %}