/* * {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: white;
    color: black;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}

.active {
    background-color: beige;
} */

* {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    margin: 10px;
    overflow: hidden;
}

.navelement {
    padding: 25px;
    text-decoration: none;
    color: black;
    font-size: larger;
    cursor: pointer;
}

.right-align {
    margin-left: auto;
}